@page
@model JobTracker.Web2.Pages.Other.CoverLettersModel
@{
    ViewData["Title"] = "Cover Letters";
}


<h2>C# Developer Roles</h2>

<p>
    Dear Sir/Madam, <br /><br />

    I am an avid program with multiple years of programming knowledge.  I currently hold a Bachelors in Computer Science from the University of North Georgia and I constantly pursue to expand my knowledge and skill in both programing and systems management. I have spent the past few years growing my knowledge in C# development with ASP.NET Framework and development in several quality of life applications in my previous positions.  I am actively pursuing a career in C# development as well as a position to grow into.
    <br />
    <br />
    Best Regards,<br />
    Matthew Miller
</p>

<hr />

<h2>Technical Support Positions</h2>